@charset "UTF-8";
/*Typical devices breakpoints
pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop :992px até 1200px
Grandes telas : acima de 1200px
*/
/* Telas menores que 500px */
@media screen and (max-width: 499px) {
    .container {
        flex-direction: column; /* Muda a direção do flexbox para coluna */
        align-items: center; /* Centraliza as caixas horizontalmente */
    }
    .box {
        width: 100%; /* Define a largura das caixas para 100% da largura do contêiner */
        margin: 0; /* Remove qualquer margem extra */
    }
}

/*Tablet*/
@media screen and (min-width:500px) and (max-width:830px){
    header{/*Cabeçalho*/
        position: relative;
        height: 600px;
        background-image: url(../img/header.png);
        background-size: cover;
        background-position: center;
    }
    div#menucenter{
        text-align: center;
    }
    nav {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding-top: 25px;
        font-size: 0.9em;
    }
    
    a {
        text-decoration: none;
        padding-left: 30px;
        padding-right: 10px;
        color: rgba(0, 0, 0, 0.616);
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    a:hover {
        color: #F15B43;
    }
    nav {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding-top: 25px;
        font-size: 0.9em;
    }
    
    a {
        text-decoration: none;
        padding-left: 30px;
        padding-right: 10px;
        color: rgba(0, 0, 0, 0.616);
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    a:hover {
        color: #F15B43;
    }
    /*dropdown*/
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 120px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    /* Exibe o dropdown ao passar o mouse sobre o link "Causas" ou dentro da área de conteúdo */
    .dropdown:hover .dropdown-content,
    .dropdown-content:hover {
        display: block;
    }

    .dropdown-content a {
        color: black;
        padding: 10px 12px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }
    /*fimdropdown*/
    div#header{/*Div para posicionar texto do header*/
        width: 400px;
        position: absolute;
        top: 21%;
        left: 8%;
    }
    /*textos do header*/
    div#laranja{/*div só para mudar cor de um letra*/
        display: inline;
        color: #F15B43;
    }
    div h1{ /*Titulo do header*/
        font-size: 2.7em;
        width: 640px;
        color: black;
    }
    div p{/*Parágrafo do header*/
        color: rgba(128, 128, 128, 0.616);
        width: 40vw;
        font-size: 0.8em;
    }
/*fim de cabeçalho*/
    /*Inico do Formulário*/
    /* Estilo para as mini caixas de valores */


    .campo {
        margin-bottom: 15px; /* Espaço abaixo de cada campo */
        padding: 3px; /* Espaço interno dentro do campo */
        border: 2px solid #ccc; /* Cor e espessura da borda */
        border-radius: 5px; /* Bordas arredondadas */
        display: flex; /* Para alinhar ícone e input */
        align-items: center; /* Alinhar verticalmente o ícone e o texto */
    }
    
    .campo input {
        border: none; /* Remove a borda do input */
        padding: 5px; /* Espaço interno dentro do input */
        font-size: 12px; /* Tamanho da fonte */
        flex: 1; /* Faz o input ocupar o máximo de espaço disponível */
    }
    
    .campo span.material-symbols-outlined {
        font-size: 24px; /* Tamanho do ícone */
        margin-right: 10px; /* Espaço entre o ícone e o input */
    }
    
    /* Estilo para as mini caixas de valores */
    .doacao-valores {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .valor-opcao {
        display: flex;
        align-items: center;
        height: 50px;
        font-size: 1.0em;
        border: 2px solid #ccc; /* Borda ao redor da opção */
        border-radius: 5px; /* Bordas arredondadas */
        padding: 5px 10px; /* Espaçamento interno */
    }
    .valor-opcao:hover{
        border-color: #f15a437e;
    }
    .valor-opcao input {
        display: none; /* Esconde o botão de rádio padrão */
    }

    div#Formulario form{
        position: absolute;
        background-color: white;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.192);
        height: 300px;
        width: 50vw;
        border-radius: 10px;
        padding: 20px;
        top: 275px;
        left: 155px;
    }
    div#Formulario form h2{
        font-size: 1.0em;
        text-align: center;
        margin-bottom: 8px;
    }
    form>input[type=submit]{
        display: block;
        font-size: 0.8em;
        width: 100%;
        height: 40px;
        margin-top: 10px;
        border-radius: 20px;
        border: 0px;
        background-color: #E5BA27;
        
    }
    form>input[type=submit]:hover{
        background-color: #e5b927a9;
        
    }
    form >a#botao{
        display: block;
        text-align: center;
        font-size: 0.8em;
        width: 100%;
        height: 40px;
        margin-top: 5px;
    }
    form >a#botao:hover{
        color: #F15B43;
    }
    #botao .material-symbols-outlined {
        font-size: 19px; /* Ajuste o valor conforme necessário */
    }
    /*Fim do header*/
     /*Inicio da box*/
     .container {
        display: flex;
        flex-wrap: wrap;
        gap: 0px; /* Espaçamento entre as caixas */
    }
    /*Configuração da box*/
    .box {
        position: relative;
        width: calc(33.33% - 0px);
        padding: 20px;
        box-sizing: border-box;
        margin: 0;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column; /* Alinha o conteúdo verticalmente */
        align-items: flex-start; /* Alinha todo o conteúdo à esquerda */
        justify-content: flex-end; /* Alinha o conteúdo na parte inferior */
        height: 270px; /* Mantém a altura fixa para as caixas */
    }
    /*Configuração geral do p*/
    .box p {
        color: white;
        font-size: 1.6em;
        font-weight: bold;
        margin: 0; /* Remove a margem padrão do parágrafo */
        text-align: left; /* Garante que o texto esteja alinhado à esquerda */
    } 
    /*Posicionamento do p da box*/
    div#doe p{
        margin-top: 25px;
        font-size: 1.3em;
    }
    div#doe p:hover{
        cursor: pointer;
    }
    /*Posicionamento da img de fundo*/
    .box1, .box2, .box3 {
    background-size: cover;
    background-position: center;
    }
    /*img de fundo das caixas*/
    .box1 {
        background: linear-gradient(rgba(32, 177, 153, 0.8), rgba(32, 177, 153, 0.8)), url('../img/edu.jpg');
    }
    
    .box2 {
        background: linear-gradient(rgba(235, 189, 42, 0.8), rgba(235, 189, 42, 0.8)), url('../img/saude\ \(2\).jpg');
    }
    
    .box3 {
        background: linear-gradient(rgba(255, 99, 71, 0.8), rgba(255, 99, 71, 0.8)), url('../img/comida.jpg');
        background-position: bottom;
    }
    /*icones*/
    span#education{
        position: absolute;
        top: 80px;
        left: 15px;
        font-size: 60px;
    }
    span#saude{
        position: absolute;
        top: 70px;
        left: 15px;
        font-size: 60px;
    }
    span#comida{
        position: absolute;
        top: 80px;
        left: 15px;
        font-size: 50px;
    }
    /*fim */ 
    /*Footer ou Rodapé*/
    footer a.footer{ /*Menus do rodapé*/
        color: #FE8F1F;
        font-size: 1.0em;
    }
    div#nav{ /*div da parte da navegação*/
        position: absolute;
        top: 20px;
        left: 30px;
    }
    div#nav p{ /*parágrafo da navegação*/
        margin-top: 20px;
        font-size: 0.8em;
        color: white;
    }
    div#popu{ /*div da parte causas populares*/
        position: absolute;
        top: 20px;
        left: 270px;
    }
    div#popu p{ /*parágrafo causas populares*/
        margin-top: 20px;
        font-size: 0.8em;
        color: white;
    }
    div#part{
        position: absolute;
        top: 170px;
        left: 30px;
    }
    div#part p{ /*parágrafo da parte participantes*/
        margin-top: 5px;
        font-size: 0.7em;
        color: white;
    }
    div#cont{ /*div da parte contato*/
        position: absolute;
        top: 170px;
        left: 270px;
    }
    div#cont p{ /*parágrafo da parte contato*/
        margin-top: 20px;
        font-size: 0.8em;
        color: white;
    }
    
}
/* Telas entre 500px e 830px */
@media screen and (min-width: 500px) and (max-width: 830px) {
    .container {
        flex-direction: column; /* Muda a direção do flexbox para coluna */
        align-items: center; /* Centraliza as caixas horizontalmente */
    }
    .box {
        width: 100%; /* Define a largura das caixas para 100% da largura do contêiner */
        margin: 0; /* Remove o espaçamento entre as caixas */
    }
}


/*desktop*/
@media screen and (min-width:830px) and (max-width:992px){
    header{ /*cabeçalho*/
        position: relative;
        height: 450px;
        background-image: url(../img/header.png);
        background-position: center;
        background-size: cover;
    }
    div#menucenter{
        text-align: center;
    }
    nav {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding-top: 25px;
        font-size: 0.9em;
    }
    
    a {
        text-decoration: none;
        padding-left: 30px;
        padding-right: 10px;
        color: rgba(0, 0, 0, 0.616);
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    a:hover {
        color: #F15B43;
    }
    nav {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding-top: 25px;
        font-size: 0.9em;
    }
    
    a {
        text-decoration: none;
        padding-left: 25px;
        padding-right: 10px;
        color: rgba(0, 0, 0, 0.616);
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    a:hover {
        color: #F15B43;
    }
    /*dropdown*/
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 120px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    /* Exibe o dropdown ao passar o mouse sobre o link "Causas" ou dentro da área de conteúdo */
    .dropdown:hover .dropdown-content,
    .dropdown-content:hover {
        display: block;
    }

    .dropdown-content a {
        color: black;
        padding: 10px 12px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }
    /*fimdropdown*/
    div#header{/*Div para posicionar texto do header*/
        width: 100px;
        position: absolute;
        top: 35%;
        left: 3%;
    } 
    /*texto do header*/
    div#laranja{/*div só para mudar cor de um letra*/
        display: inline;
        color: #F15B43;
    }
    div h1{ /*tiulo do header*/
        font-size: 2.3em;
        width:55vw;
        color: black;
    }
    div p{/*Parágrafo do cabeçalho*/
        color: rgb(128, 128, 128);
        width: 40vw;
        font-size: 0.9em;
    }
/*Fim do cabeçãlho*/
    /*Inico do Formulário*/
    .campo {
        margin-bottom: 15px; /* Espaço abaixo de cada campo */
        padding: 3px; /* Espaço interno dentro do campo */
        border: 2px solid #ccc; /* Cor e espessura da borda */
        border-radius: 5px; /* Bordas arredondadas */
        display: flex; /* Para alinhar ícone e input */
        align-items: center; /* Alinhar verticalmente o ícone e o texto */
    }
    
    .campo input {
        border: none; /* Remove a borda do input */
        padding: 5px; /* Espaço interno dentro do input */
        font-size: 12px; /* Tamanho da fonte */
        flex: 1; /* Faz o input ocupar o máximo de espaço disponível */
    }
    
    .campo span.material-symbols-outlined {
        font-size: 24px; /* Tamanho do ícone */
        margin-right: 10px; /* Espaço entre o ícone e o input */
    }
    
    /* Estilo para as mini caixas de valores */
    .doacao-valores {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .valor-opcao {
        display: flex;
        align-items: center;
        height: 50px;
        font-size: 0.9em;
        border: 2px solid #ccc; /* Borda ao redor da opção */
        border-radius: 5px; /* Bordas arredondadas */
        padding: 5px 10px; /* Espaçamento interno */
    }
    .valor-opcao:hover{
        border-color: #f15a437e;
        cursor: pointer;
    }
    .valor-opcao input {
        display: none; /* Esconde o botão de rádio padrão */
    }
    div#Formulario form{
        position: absolute;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.233);
        background-color: white;
        height: 300px;
        width: 40vw;
        border-radius: 10px;
        padding: 20px;
        top: 70px;
        left: 505px;
    }
    div#Formulario form h2{
        font-size: 1.1em;
        text-align: center;
        margin-bottom: 10px;
    }
    form>input[type=submit]{
        display: block;
        font-size: 0.9em;
        width: 100%;
        height: 30px;
        margin-top: 10px;
        border-radius: 20px;
        border: 0px;
        background-color: #E5BA27;
        
    }
    form>input[type=submit]:hover{
        background-color: #e5b927a9;
        
    }
    form >a#botao{
        display: block;
        text-align: center;
        font-size: 0.9em;
        width: 100%;
        height: 40px;
        margin-top: 5px;
    }
    form >a#botao:hover{
        color: #F15B43;
    }
    #botao .material-symbols-outlined {
        font-size: 19px; /* Ajuste o valor conforme necessário */
    }
    /*Fim do header*/
    /*Inicio da box*/
    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 0px; /* Espaçamento entre as caixas */
    }
    /*Configuração da box*/
    .box {
        position: relative;
        width: calc(33.33% - 0px);
        padding: 20px;
        box-sizing: border-box;
        margin: 0;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column; /* Alinha o conteúdo verticalmente */
        align-items: flex-start; /* Alinha todo o conteúdo à esquerda */
        justify-content: flex-end; /* Alinha o conteúdo na parte inferior */
        transition: transform 0.3s ease, background-color 0.3s ease;
        height: 270px; /* Mantém a altura fixa para as caixas */
    }
    /*efeito da box*/
    .box:hover {
        transform: scale(1.05);
    }
    /*Configuração geral do p*/
    .box p {
        color: white;
        font-weight: bold;
        width: 30vw;
        font-size: 1.8em;
        margin: 0; /* Remove a margem padrão do parágrafo */
        text-align: left; /* Garante que o texto esteja alinhado à esquerda */
    } 
    /*Posicionamento do p da box*/
    div#doe p{
        margin-top: 20px;
        font-size: 1.3em;
        font-weight: normal;
    }
    div#doe p:hover{
        cursor: pointer;
    }
    /*Posicionamento da img de fundo*/
    .box1, .box2, .box3 {
    background-size: cover;
    background-position: center;
    }
    /*img de fundo das caixas*/
    .box1 {
        background: linear-gradient(rgba(32, 177, 153, 0.8), rgba(32, 177, 153, 0.8)), url('../img/edu.jpg');
    }
    
    .box2 {
        background: linear-gradient(rgba(235, 189, 42, 0.8), rgba(235, 189, 42, 0.8)), url('../img/saude\ \(2\).jpg');
    }
    
    .box3 {
        background: linear-gradient(rgba(255, 99, 71, 0.8), rgba(255, 99, 71, 0.8)), url('../img/comida.jpg');
        background-position: bottom;
    }
    /*icones*/
    span#education{
        position: absolute;
        top: 50px;
        left: 15px;
        font-size: 60px;
    }
    span#saude{
        position: absolute;
        top: 50px;
        left: 15px;
        font-size: 60px;
    }
    span#comida{
        position: absolute;
        top: 50px;
        left: 15px;
        font-size: 60px;
    }
    /*Fim da box*/
    /*Footer ou Rodapé*/
    footer{
        height: 350px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.87);
    }
    footer a.footer{ /*Menus do rodapé*/
        color: #FE8F1F;
        font-size: 1.0em;
    }
    div#nav{ /*div da parte da navegação*/
        position: absolute;
        top: 45px;
        left: 30px;
    }
    div#nav p{ /*parágrafo da navegação*/
        margin-top: 20px;
        font-size: 0.8em;
        color: white;
    }
    div#popu{ /*div da parte causas populares*/
        position: absolute;
        top: 45px;
        left: 180px;
    }
    div#popu p{ /*parágrafo causas populares*/
        margin-top: 20px;
        font-size: 0.8em;
        color: white;
    }
    div#part{
        position: absolute;
        top: 45px;
        left: 370px;
    }
    div#part p{ /*parágrafo da parte participantes*/
        margin-top: 5px;
        font-size: 0.7em;
        color: white;
    }
    div#cont{ /*div da parte contato*/
        position: absolute;
        top: 45px;
        left: 570px;
    }
    div#cont p{ /*parágrafo da parte contato*/
        margin-top: 20px;
        font-size: 0.8em;
        color: white;
    }
}
/*Monitor*/
@media screen and (min-width:992px) and (max-width:1450px){
    header{
        background-color: rgba(255, 255, 255, 0.158);
        position: relative;
        height: 450px;
        background-image: url(../img/header.png);
        background-position: center;
        background-size: cover;
        
    }
    div#menucenter{
        text-align: center;
    }    
    nav {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding-top: 25px;
        font-size: 0.9em;
    }
    
    a {
        text-decoration: none;
        padding-left: 30px;
        padding-right: 10px;
        color: rgba(0, 0, 0, 0.616);
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .mudacor:hover {
        color: #F15B43;
    }
    /*dropdown*/
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 120px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    /* Exibe o dropdown ao passar o mouse sobre o link "Causas" ou dentro da área de conteúdo */
    .dropdown:hover .dropdown-content,
    .dropdown-content:hover {
        display: block;
    }

    .dropdown-content a {
        color: black;
        padding: 10px 12px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }
    /*fimdropdown*/
    div#header{/*Div para posicionar texto do header*/
        width: 380px;
        position: absolute;
        top: 30%;
        left: 6%;
    }
    /*texto do header*/
    div#laranja{
        display: inline;
        color: #F15B43;
    }
    div h1{ 
        font-size: 2.6em;
        width: 60vw;
        color: black;
    }
    div p{
        color: rgba(128, 128, 128, 0.616);
        width: 490px;
        font-size: 1.0em;
    }
/*fim do header*/
    /*Inico do Formulário*/
    .campo {
        margin-bottom: 15px; /* Espaço abaixo de cada campo */
        padding: 3px; /* Espaço interno dentro do campo */
        border: 2px solid #ccc; /* Cor e espessura da borda */
        border-radius: 5px; /* Bordas arredondadas */
        display: flex; /* Para alinhar ícone e input */
        align-items: center; /* Alinhar verticalmente o ícone e o texto */
    }

    .campo input {
        border: none; /* Remove a borda do input */
        padding: 5px; /* Espaço interno dentro do input */
        font-size: 16px; /* Tamanho da fonte */
        flex: 1; /* Faz o input ocupar o máximo de espaço disponível */
    }

    .campo span.material-symbols-outlined {
        font-size: 24px; /* Tamanho do ícone */
        margin-right: 10px; /* Espaço entre o ícone e o input */
    }
    /* Estilo para as mini caixas de valores */
    .doacao-valores {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .valor-opcao {
        display: flex;
        align-items: center;
        height: 50px;
        font-size: 1.1em;
        border: 2px solid #ccc; /* Borda ao redor da opção */
        border-radius: 5px; /* Bordas arredondadas */
        padding: 5px 10px; /* Espaçamento interno */
    }
    .valor-opcao:hover{
    border-color: #f15a437e; /* Cor da borda ao passar o mouse ou quando selecionado */
    cursor: pointer;
}

    .valor-opcao input {
        display: none; /* Esconde o botão de rádio padrão */
    }
    div#Formulario form{
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.24);
        position: absolute;
        background-color: white;
        height: 315px;
        width: 30vw;
        border-radius: 10px;
        padding: 20px;
        top: 100px;
        left: 680px;
    }
    div#Formulario form h2{
        font-size: 1.3em;
        text-align: center;
        margin-bottom: 10px;
    }
    form>input[type=submit]{
        display: block;
        font-size: 1em;
        margin-top: 10px;
        width: 100%;
        height: 40px;
        border-radius: 20px;
        border: 0px;
        background-color: #E5BA27;
        
    }
    form>input[type=submit]:hover{
        background-color: #e5b927a9;
        
    }
    form >a#botao{
        display: block;
        text-align: center;
        font-size: 1em;
        width: 100%;
        height: 40px;
        margin-top: 5px;
    }
    form >a#botao:hover{
        color: #F15B43;
    }
    /*Fim do header */
    /*Inicio da box*/
    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 0px; /* Espaçamento entre as caixas */
    }
    /*Configuração da box*/
    .box {
        position: relative;
        width: calc(33.33% - 0px);
        padding: 20px;
        box-sizing: border-box;
        margin: 0;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column; /* Alinha o conteúdo verticalmente */
        align-items: flex-start; /* Alinha todo o conteúdo à esquerda */
        justify-content: flex-end; /* Alinha o conteúdo na parte inferior */
        transition: transform 0.3s ease, background-color 0.3s ease;
        height: 400px; /* Mantém a altura fixa para as caixas */
    }
    /*efeito da box*/
    .box:hover {
        transform: scale(1.05);
    }
    /*Configuração geral do p*/
    .box p {
        color: white;
        font-size: 2.0em;
        font-weight: bold;
        width: 30vw;
        margin: 0; /* Remove a margem padrão do parágrafo */
        text-align: left; /* Garante que o texto esteja alinhado à esquerda */
    } 
    /*Posicionamento do p da box*/
    div#doe p{
        margin-top: 20px;
        margin-bottom: 50px;
        font-size: 1.3em;
    }
    div#doe p:hover{
        cursor: pointer;
    }
    /*Posicionamento da img de fundo*/
    .box1, .box2,.box3 {
    background-size: cover;
    background-position: center;
    }
    /*img de fundo das caixas*/
    .box1 {
        background: linear-gradient(rgba(32, 177, 153, 0.8), rgba(32, 177, 153, 0.8)), url('../img/edu.jpg');
    }
    
    .box2 {
        background: linear-gradient(rgba(235, 189, 42, 0.8), rgba(235, 189, 42, 0.8)), url('../img/saude\ \(2\).jpg');
    }
    
    .box3 {
        background: linear-gradient(rgba(255, 99, 71, 0.8), rgba(255, 99, 71, 0.8)), url('../img/comida.jpg');
        background-position: bottom;
    }
    /*icones*/
    span#education{
        position: absolute;
        top: 120px;
        left: 15px;
        font-size: 70px;
    }
    span#saude{
        position: absolute;
        top: 110px;
        left: 15px;
        font-size: 70px;
    }
    span#comida{
        position: absolute;
        top: 120px;
        left: 15px;
        font-size: 70px;
    }
    /*Fim da box*/
    /*Sobre nós*/
    main{
        margin-top: 60px;
        position: relative;
    }
    div#sobrenos h2{
        margin-bottom: 20px;
        text-align: center;
        font-size: 2.8em;
        color: #F15B43;
    }
    div#sobrenos p{
        margin: auto;
    }
    /*Div para centralizar link*/
    div#mvh {
        margin-top: 70px;
        text-align: center;
        margin-bottom: 40px;
    }
    /*Configuração do link*/
    /* Configuração base das caixas */
    .missao {
        font-weight: bold;
        padding: 25px 20px;
        border-radius: 5px;
        border-bottom: 3px solid #F15B43;
    }

    /* Estilo para quando a caixa está ativa */
    .missao.active {
        background-color: #F15B43;
        color: white;
    }

    /* Quando a caixa está ativa, desabilitar o hover */
    .missao.active:hover {
        background-color: #F15B43; /* Mantém a cor de fundo ativa */
        color: white; /* Mantém a cor de texto ativa */
    }
    main p{
        width: 400px;
        margin: auto;
        color: gray;
    }
/*fim*/
 
    /*Footer ou Rodapé*/
    footer{
        height: 350px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.87);
    }
    footer a.footer{ /*Menus do rodapé*/
        color: #FE8F1F;
        font-size: 1.0em;
    }
    div#nav{ /*div da parte da navegação*/
        position: absolute;
        top: 45px;
        left: 50px;
    }
    div#nav p{ /*parágrafo da navegação*/
        margin-top: 20px;
        font-size: 0.8em;
        color: white;
    }
    div#popu{ /*div da parte causas populares*/
        position: absolute;
        top: 45px;
        left: 240px;
    }
    div#popu p{ /*parágrafo causas populares*/
        margin-top: 20px;
        font-size: 0.8em;
        color: white;
    }
    div#part{
        position: absolute;
        top: 45px;
        left: 495px;
    }
    div#part p{ /*parágrafo da parte participantes*/
        margin-top: 5px;
        font-size: 0.7em;
        color: white;
    }
    div#cont{ /*div da parte contato*/
        position: absolute;
        top: 45px;
        left: 765px;
    }
    div#cont p{ /*parágrafo da parte contato*/
        margin-top: 20px;
        font-size: 0.8em;
        color: white;
    }
}
/*Telas maiores que 1450px*/
@media screen and (min-width:1450px) {
    header{
        position: relative;
        height: 650px;
        background-image: url(../img/header.png);
        background-position: center;
        background-size: cover;
    }
    div#menucenter{
        text-align: center;
    }
    nav {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding-top: 25px;
        font-size: 0.9em;
    }
    
    a {
        text-decoration: none;
        padding-left: 30px;
        padding-right: 10px;
        color: rgba(0, 0, 0, 0.616);
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    a:hover {
        color: #F15B43;
    }
    nav {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding-top: 25px;
        font-size: 0.9em;
    }
    
    a {
        text-decoration: none;
        padding-left: 30px;
        padding-right: 10px;
        color: rgba(0, 0, 0, 0.616);
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    a:hover {
        color: #F15B43;
    }
    /*dropdown*/
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 120px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    /* Exibe o dropdown ao passar o mouse sobre o link "Causas" ou dentro da área de conteúdo */
    .dropdown:hover .dropdown-content,
    .dropdown-content:hover {
        display: block;
    }

    .dropdown-content a {
        color: black;
        padding: 10px 12px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }
    /*fimdropdown*/
    /*Div para posicionar texto do header*/
    div#header{
        width: 380px;
        position: absolute;
        top: 30%;
        left: 10%;
    }
    /*texto do header*/
    div#laranja{
        display: inline;
        color: #F15B43;
    }
    div h1{ 
        font-size: 3.0em;
        width: 60vw;
        color: black;
    }
    div p{
        color: rgba(0, 0, 0, 0.664);
        width: 500px;
        font-size: 1.2em;
    }
/*Fim do Header*/
/*Formulário*/
.campo {
    margin-bottom: 15px; /* Espaço abaixo de cada campo */
    padding: 10px; /* Espaço interno dentro do campo */
    border: 2px solid #ccc; /* Cor e espessura da borda */
    border-radius: 5px; /* Bordas arredondadas */
    display: flex; /* Para alinhar ícone e input */
    align-items: center; /* Alinhar verticalmente o ícone e o texto */
}

.campo input {
    border: none; /* Remove a borda do input */
    padding: 5px; /* Espaço interno dentro do input */
    font-size: 16px; /* Tamanho da fonte */
    flex: 1; /* Faz o input ocupar o máximo de espaço disponível */
}

.campo span.material-symbols-outlined {
    font-size: 24px; /* Tamanho do ícone */
    margin-right: 10px; /* Espaço entre o ícone e o input */
}
    /* Estilo para as mini caixas de valores */
    .doacao-valores {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .valor-opcao {
        display: flex;
        align-items: center;
        height: 50px;
        border: 2px solid #ccc; /* Borda ao redor da opção */
        border-radius: 5px; /* Bordas arredondadas */
        padding: 5px 10px; /* Espaçamento interno */
        font-size: 1.1em;
    }
    .valor-opcao:hover {
    border-color: #f15a437e; /* Cor da borda */
    cursor: pointer;
    }

    .valor-opcao input {
        display: none; /* Esconde o botão de rádio padrão */
    }
    /*Caixas de nome , email e botao*/
    div#Formulario form{
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.247);
        position: absolute;
        background-color: white;
        height: 350px;
        width: 400px;
        border-radius: 10px;
        padding: 20px;
        top: 140px;
        left: 1050px;
    }
    div#Formulario form h2{
        font-size: 1.3em;
        text-align: center;
        margin-bottom: 10px;
    }
    form>input[type=submit]{
        display: block;
        font-size: 1em;
        margin-top: 5px;
        width: 100%;
        height: 40px;
        border-radius: 20px;
        border: 0px;
        background-color: #E5BA27;
        
    }
    form>input[type=submit]:hover{
        background-color: #e5b927a9;
        
    }
    form >a#botao{
        display: block;
        text-align: center;
        font-size: 1em;
        width: 100%;
        height: 40px;
        margin-top: 5px;
    }
    form >a#botao:hover{
        color: #F15B43;
    }
    #botao .material-symbols-outlined {
        font-size: 23px; /* Ajuste o valor conforme necessário */
    }
    
/*Fim do header*/

    /*Inicio da box*/
    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 0px; /* Espaçamento entre as caixas */
    }
    /*Configuração da box*/
    .box {
        position: relative;
        width: calc(33.33% - 0px);
        padding: 20px;
        box-sizing: border-box;
        margin: 0;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column; /* Alinha o conteúdo verticalmente */
        align-items: flex-start; /* Alinha todo o conteúdo à esquerda */
        justify-content: flex-end; /* Alinha o conteúdo na parte inferior */
        transition: transform 0.3s ease, background-color 0.3s ease;
        height: 410px; /* Mantém a altura fixa para as caixas */
    }
    /*efeito da box*/
    .box:hover {
        transform: scale(1.05);
    }
    /*Configuração geral do p*/
    .box p {
        color: white;
        font-size: 2.0em;
        font-weight: bold;
        margin: 0; /* Remove a margem padrão do parágrafo */
        text-align: left; /* Garante que o texto esteja alinhado à esquerda */
    } 
    .box3 p {
        width: 300px;
    }
    
    /*Posicionamento do p da box*/
    div#doe p{
        margin-top: 30px;
        font-size: 1.3em;
        margin-bottom: 30px;
    }
    div#doe p:hover{
        cursor: pointer;
    }
    /*Posicionamento da img de fundo*/
    .box1, .box2, .box3 {
    background-size: cover;
    background-position: center;
    }
    /*img de fundo das caixas*/
    .box1 {
        background: linear-gradient(rgba(32, 177, 153, 0.8), rgba(32, 177, 153, 0.8)), url('../img/edu.jpg');
    }
    
    .box2 {
        background: linear-gradient(rgba(235, 189, 42, 0.8), rgba(235, 189, 42, 0.8)), url('../img/saude\ \(2\).jpg');
    }
    
    .box3 {
        background: linear-gradient(rgba(255, 99, 71, 0.8), rgba(255, 99, 71, 0.8)), url('../img/comida.jpg');
        background-position: bottom;
    }
    /*icones*/
    span#education{
        font-size: 70px;
        position: absolute;
        top: 130px;
        left: 15px;
    }
    span#saude{
        font-size: 70px;
        position: absolute;
        top: 130px;
        left: 15px;
    }
    span#comida{
        font-size: 70px;
        position: absolute;
        top: 150px;
        left: 15px;
    }
    /*Fim da box*/
   
    
    
    /*Rodapé*/
    footer{
        height: 350px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.87);
    }
    footer a.footer{ /*Menus do rodapé*/
        color: #FE8F1F;
        font-size: 1.3em;
    }
    div#nav{ /*div da parte da navegação*/
        position: absolute;
        top: 45px;
        left: 80px;
    }
    div#nav p{ /*parágrafo da navegação*/
        margin-top: 20px;
        font-size: 0.8em;
        color: white;
    }
    div#popu{ /*div da parte causas populares*/
        position: absolute;
        top: 45px;
        left: 400px;
    }
    div#popu p{ /*parágrafo causas populares*/
        margin-top: 20px;
        font-size: 0.8em;
        color: white;
    }
    div#part{
        position: absolute;
        top: 45px;
        left: 840px;
    }
    div#part p{ /*parágrafo da parte participantes*/
        margin-top: 10px;
        font-size: 0.7em;
        color: white;
    }
    div#cont{ /*div da parte contato*/
        position: absolute;
        top: 45px;
        left: 1310px;
    }
    div#cont p{ /*parágrafo da parte contato*/
        margin-top: 20px;
        font-size: 0.8em;
        color: white;
    }
    
}