@charset "UTF-8";
/*Mobile Firts*/ /*Configuração para tela de celular*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body,html{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}
header{
    position: relative;
    height: 500px;
    background-image: url(../img/header.png);
    background-position: left ;
    background-size: cover;
}
nav{/*Menu*/
    text-align: center;
    text-decoration: none;
    padding-top: 25px;
    font-size: 0.6em;
    
}
a{/*Links internos do menu*/
    text-decoration: none;
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.616);
}
a:hover{/**/
    color:#F15B43 ;
}
div#header{/*Div para posicionar texto do header*/
    width: 380px;
    position: absolute;
    top: 17%;
    left: 10%;
}
/*textos do header*/
div#laranja{ /*é especialmente uma palavra , só pra alterar a cor*/
    display: inline;
    color: #F15B43;
}
div h1{ 
    font-size: 1.6em;
    width: 85vw;
    color: black;
    
}
div p{
    color: rgba(128, 128, 128, 0.616);
    width: 70vw;
    font-size: 0.7em;
}
/*Fim do header*/
    /*Inico do Formulário*/
    /* Estilo para as mini caixas de valores */
    .doacao-valores {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .valor-opcao {
        display: flex;
        align-items: center;
        height: 40px;
        padding: 3px 8px;/* Espaçamento interno */
        font-size: 0.7em;
        border: 2px solid #ccc; /* Borda ao redor da opção */
        border-radius: 5px ; /* Bordas arredondadas */
        
    }
    .valor-opcao:hover{
        border-color: #f15a437e;
    }
    .valor-opcao input {
        display: none; /* Esconde o botão de rádio padrão */
    }
    .campo {
        margin-bottom: 10px; /* Espaço abaixo de cada campo */
        padding: 2px; /* Espaço interno dentro do campo */
        border: 2px solid #ccc; /* Cor e espessura da borda */
        border-radius: 5px; /* Bordas arredondadas */
        display: flex; /* Para alinhar ícone e input */
        align-items: center; /* Alinhar verticalmente o ícone e o texto */
    }
    
    .campo input {
        border: none; /* Remove a borda do input */
        padding: 5px; /* Espaço interno dentro do input */
        font-size: 8px; /* Tamanho da fonte */
        flex: 1; /* Faz o input ocupar o máximo de espaço disponível */
    }
    
    .campo span.material-symbols-outlined {
        font-size: 19px; /* Tamanho do ícone */
        margin-right: 5px; /* Espaço entre o ícone e o input */
    }
    
    div#Formulario form{
        position: absolute;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.192);
        background-color: white;
        height: 225px;
        width: 70vw;
        border-radius: 10px;
        padding: 20px;
        top: 220px;
        left: 50px;
    }
    div#Formulario form h2{
        font-size: 0.9em;
        text-align: center;
        margin-bottom: 5px;
    }
    form>input[type=submit]{
        display: block;
        font-size: 0.7em;
        width: 100%;
        height: 20px;
        margin-top: 3px;
        border-radius: 20px;
        border: 0px;
        background-color: #E5BA27;
        
    }
    form>input[type=submit]:hover{
        background-color: #e5b927a9;
        
    }
    form >a#botao{
        display: block;
        text-align: center;
        font-size: 0.7em;
        width: 100%;
        height: 40px;
        
    }
    form >a#botao:hover{
        color: #F15B43;
    }
    #botao .material-symbols-outlined {
        font-size: 17px; /* Ajuste o valor conforme necessário */
    }
    /*div dos 3 blocos abaixo do header*/
    /* Cores diferentes para cada div */
    /* Estilo para cada div com imagem e cor de fundo */
    /*Inicio da box*/
    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 0px; /* Espaçamento entre as caixas */
    }
    /*Configuração da box*/
    .box {
        position: relative;
        width: calc(33.33% - 0px);
        padding: 20px;
        box-sizing: border-box;
        margin: 0;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column; /* Alinha o conteúdo verticalmente */
        align-items: flex-start; /* Alinha todo o conteúdo à esquerda */
        justify-content: flex-end; /* Alinha o conteúdo na parte inferior */
        height: 300px; /* Mantém a altura fixa para as caixas */
    }
    /*Configuração geral do p*/
    .box p {
        color: white;
        font-size: 1.7em;
        width: 80vw;
        font-weight: bold;
        margin: 0; /* Remove a margem padrão do parágrafo */
        text-align: left; /* Garante que o texto esteja alinhado à esquerda */
    } 
    /*Posicionamento do p da box*/
    div#doe p{
        margin-top: 10px;
        font-size: 1.3em;
        margin-top: 25px;
        font-weight: normal;
    }
    div#doe p:hover{
        cursor: pointer;
    }
    /*Posicionamento da img de fundo*/
    .box1, .box2, .box3 {
    background-size: cover;
    background-position: center;
    }
    /*img de fundo das caixas*/
    .box1 {
        background: linear-gradient(rgba(32, 177, 153, 0.8), rgba(32, 177, 153, 0.8)), url('../img/edu.jpg');
    }

    .box2 {
        background: linear-gradient(rgba(235, 189, 42, 0.8), rgba(235, 189, 42, 0.8)), url('../img/saude\ \(2\).jpg');
    }

    .box3 {
        background: linear-gradient(rgba(255, 99, 71, 0.8), rgba(255, 99, 71, 0.8)), url('../img/comida.jpg');
        background-position: bottom;
    }
    /*icones*/
    span#education{
        position: absolute;
        top: 100px;
        left: 15px;
        color: white;
        font-size: 60px;
        
    }
    span#saude{
        position: absolute;
        top: 110px;
        left: 15px;
        color: white;
        font-size: 60px;
    }
    span#comida{
        position: absolute;
        top: 110px;
        left: 15px;
        color: white;
        font-size: 60px;
    }
    footer{
        height: 390px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.87);
    }
    footer a.footer{ /*Menus do rodapé*/
        color: #FE8F1F;
        font-size: 0.7em;
    }
    footer p{
        color: white;
    }
    div#nav{ /*div da parte da navegação*/
        position: absolute;
        top: 10px;
        left: 15px;
    }
    div#nav p{ /*parágrafo da navegação*/
        margin-top: 20px;
        font-size: 0.5em;
    }
    div#popu{ /*div da parte causas populares*/
        position: absolute;
        top: 10px;
        left: 195px;
    }
    div#popu p{ /*parágrafo causas populares*/
        margin-top: 20px;
        font-size: 0.5em;
    }
    div#part{
        position: absolute;
        top: 140px;
        left: 15px;
    }
    div#part p{ /*parágrafo da parte participantes*/
        margin-top: 5px;
        font-size: 0.5em;
    }
    div#cont{ /*div da parte contato*/
        position: absolute;
        top: 140px;
        left: 185px;
    }
    div#cont p{ /*parágrafo da parte contato*/
        margin-top: 20px;
        font-size: 0.5em;
    }
