@charset "UTF-8";
/*Mobile Firts*/ /*Configuração para tela de celular*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body,html{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}
/*Cabeçalho*/
header{
    position: relative;
    height: 300px;
    background-image: url(../img/header.png);
    background-position: left ;
    background-size: cover;
}
/*Div de centralização de menu*/
div#menucenter{
    text-align: center;
}
/*Configurações de menu*/
nav {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    font-size: 0.5em;
    font-weight: bolder;
}

a {
    text-decoration: none;
    padding-left: 5px;
    padding-right: 10px;
    color: rgba(0, 0, 0, 0.616);
    padding-top: 5px;
    padding-bottom: 5px;
}
/*Efeito ao passar mouse*/
a:hover {
    color: #F15B43;
}
/*Menu dorpdown ao clicar*/
/*dropdown*/
.dropdown {
    position: relative;
    display: inline-block;
}
/*Conteudo do menu dropdown*/
.dropdown-content {
    
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 65px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* para exibir o dropdown ao passar o mouse sobre o link "Causas" ou dentro da área de conteúdo */
.dropdown:hover .dropdown-content,
.dropdown-content:hover {
    display: block;
}
/*Configuração do conteudo do dropdown*/
.dropdown-content a {
    color: black;
    padding: 4px 0px;
    text-decoration: none;
    display: block;
}
/*efeito ao passar mouse*/
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
/*fimdropdown*/

div#header{/*Div para posicionar texto do header*/
    position: absolute;
    top: 35%;
    left: 8%;
}
/*textos do header*/
div#laranja{ /*é especialmente uma palavra , só pra alterar a cor*/
    display: inline;
    color: #F15B43;
}
div h1{ 
    font-size: 1.8em;
    width: 90vw;
    color: black;
    
}
div p{
    color: rgba(128, 128, 128, 0.863);
    width: 70vw;
    font-size: 0.7em;
}
/*Fim do header*/
    /*div dos 3 blocos abaixo do header*/
    /* Estilo para cada div com imagem e cor de fundo */
    /*Inicio da box*/
    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 0px; /* Espaçamento entre as caixas */
    }
    /*Configuração da box*/
    .box {
        position: relative;
        width: calc(33.33% - 0px);
        padding: 20px;
        box-sizing: border-box;
        margin: 0;
        display: flex;
        flex-direction: column; /* Alinha o conteúdo verticalmente */
        align-items: flex-start; /* Alinha todo o conteúdo à esquerda */
        justify-content: flex-end; /* Alinha o conteúdo na parte inferior */
        height: 300px; /* Mantém a altura fixa para as caixas */
    }
    /*Configuração geral do p*/
    .box p {
        color: white;
        font-size: 1.7em;
        width: 80vw;
        font-weight: normal;
        margin: 0; /* Remove a margem padrão do parágrafo */
        text-align: left; /* Garante que o texto esteja alinhado à esquerda */
    } 
    /*Configuração do p "Doe agora"*/
    div#doe p{
        color: white;
        margin-top: 30px;
        font-size: 1.3em;
        margin-bottom: 30px;
    }
    div#doe p:hover{
        cursor: pointer;
    }
    /*Posicionamento da img de fundo*/
    .box1, .box2, .box3 {
    background-size: cover;
    background-position: center;
    }
    /*img de fundo das caixas*/
    .box1 {
        background: linear-gradient(rgba(32, 177, 153, 0.8), rgba(32, 177, 153, 0.8)), url('../img/edu.jpg');
    }

    .box2 {
        background: linear-gradient(rgba(235, 189, 42, 0.8), rgba(235, 189, 42, 0.8)), url('../img/saude\ \(2\).jpg');
    }

    .box3 {
        background: linear-gradient(rgba(255, 99, 71, 0.8), rgba(255, 99, 71, 0.8)), url('../img/comida.jpg');
        background-position: bottom;
    }
    /*icones*/
    span#education{
        position: absolute;
        top: 55px;
        left: 15px;
        color: white;
        font-size: 55px;
    }
    span#saude{
        position: absolute;
        top: 50px;
        left: 15px;
        color: white;
        font-size: 55px;
    }
    span#comida{
        position: absolute;
        top: 55px;
        left: 15px;
        color: white;
        font-size: 55px;
    }
    /*Sobre nós*/
    main{
        margin-top: 70px;
        position: relative;
    }
    /*h2 "Sobre nòs"*/
    #h2sobrenos{
        margin-bottom: 20px;
        font-size: 2.0em;
        color: #F15B43;
    }
    /*Posicionamento do p */
    div#sobrenos p{
        width: 75vw;
        margin: auto;
        font-size: 0.7em;
    }
      
    /*Div para centralizar link*/
    div#mvh {
        margin-top: 30px;
        text-align: center;
        margin-bottom: 30px;
        font-size: 1.0em;
        /*position: absolute;
        top: 140px;
        left: 120px;*/
    }
    
    /*Configuração do link*/
    /* Configuração base das caixas */
    .missao {
        font-weight: bold;
        padding: 8px 5px;
        border-radius: 5px;
        font-size: 0.6em;
        border-bottom: 3px solid #F15B43;
    }

    /* Estilo para quando a caixa está ativa */
    .missao.active {
        background-color: #F15B43;
        color: white;
    }
    .missao:hover{
        background-color: #f15a4394;
    }
    /* Quando a caixa está ativa, desabilitar o hover */
    .missao.active:hover {
        background-color: #F15B43; /* Mantém a cor de fundo ativa */
        color: white; /* Mantém a cor de texto ativa */
    }
    /*Outros p*/
    main p{
        width: 75vw;
        text-align: justify;
        margin: auto;
        color: gray;
        line-height: 1.7em;
        
    }
    /*Outros h2*/
    main h2{
        color: #F15B43;
        font-size: 1.2em;
        margin-bottom: 15px;
    }
    /* posicionamento para o container principal do menu MVH*/
    .container2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Alinha todas as divs à esquerda */
        padding-left:  30px; /* Ajuste o padding conforme necessário */
    }
    /* Adicione alguns estilos básicos para melhor visualização */
    #sobrenos, #mvh, #sobrenosp {
        margin-bottom: 20px; /* Espaçamento entre as divs */
    }

    #sobrenosp, #sobrenosp p {
        margin: 0;
    }
    /*Imagens*/
    main img#kids{
        width: 70vw;
        height: 200px;
        border-radius: 7px;
        margin-left: 50px;
        margin-bottom: 10px;
    }
    main img#kids2{
        width: 70vw;
        height: 200px;
        border-radius: 7px;
        margin-left: 50px;
    }
    /*Formulário especifico*/
    div#formularioofc{
        
    }
    div#formularioofc h2{
        font-size: 1.5em;
        margin-top: 30px;
        text-align: center;
    }
/*fim*/
    /*Rodapé*/
    footer{
        height: 390px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.87);
    }
    footer a.footer{ /*Menus do rodapé*/
        color: #FE8F1F;
        font-size: 0.7em;
    }
    footer p{
        color: white;
    }
    div#nav{ /*div da parte da navegação*/
        position: absolute;
        top: 10px;
        left: 15px;
    }
    div#nav p{ /*parágrafo da navegação*/
        margin-top: 20px;
        font-size: 0.5em;
    }
    div#popu{ /*div da parte causas populares*/
        position: absolute;
        top: 10px;
        left: 195px;
    }
    div#popu p{ /*parágrafo causas populares*/
        margin-top: 20px;
        font-size: 0.5em;
    }
    div#part{
        position: absolute;
        top: 140px;
        left: 15px;
    }
    div#part p{ /*parágrafo da parte participantes*/
        margin-top: 5px;
        font-size: 0.5em;
    }
    div#cont{ /*div da parte contato*/
        position: absolute;
        top: 140px;
        left: 185px;
    }
    div#cont p{ /*parágrafo da parte contato*/
        margin-top: 20px;
        font-size: 0.5em;
    }
   
